<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%  static 'css/blog.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!--Header-->
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="navbar-brand"><img src="{% static './img/logocarhousetransparet.png'%}"></a>
                <div class="navbar-nav">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contacts</a>
                    <a href="/blog">Blog</a>
                    <div>
                        {% if request.user.is_authenticated %}
                        <a href="/editorpage">Post</a>
                        <a href="{% url 'logout' %}">Logout</a>
                        <a href="#">Welcome, {{request.user.username}}</a>
                        {% else %}
                        <a href="{% url 'register' %}">Register</a>
                        <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="banner">
            <div class="container">
                <h1 class="banner-title">
                    <span>Car</span> House
                </h1>
                <p>Everything that you want to know about cars</p>
                <form>
                    <input type="text" class="search-input" placeholder="find your article">
                    <button type="submit" class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>
    <!--End of header-->

    <!--Blog-->
    <section class="blog" id="blog">
        <div class="container">
            <div class="title">
                <h2>Latest Blog</h2>
                <p>Recent blogs about cars</p>
            </div>
            <div class="blog-content">
                <!--Item-->
                {% for obj in latest %}
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{obj.thumbnail.url}}" alt="">
                        <span><i class="far fa-heart"></i></span>
                    </div>
                    <div class="blog-text">
                        <span>{{obj.timestamp}}</span>
                        <h2>{{obj.title}}</h2>
                        <p>{{obj.excerpt}}</p>
                        <a href="/article">Read More</a>
                    </div>
                </div>
                {% endfor %}
                <!--End item-->
            </div>
        </div>
    </section>
    <!--End of Blog-->

    <!--Footer-->
    <footer>
        <div>
            <img src="{% static './img/logocarhousetransparet.png'%}">
        </div>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
        </div>
        <span>Car House Blog Page.</span>
    </footer>
    <!--End Footer-->
</body>
</html>